<h1> {{title}} </h1>
<br> <div>Author: {{author}}</div>
<br> <div>{{body}}</div>
<br>
<br> <a href="/articles/deleted/{{id}}/restore">RESTORE ITEM</a>
<br> <a href="/articles/deleted">DELETED ARTICLES</a>
<br> {{> footer}}