<h1> {{name}} </h1>
<br> <div>Price: {{price}}</div>
<br> <div>Inventory: {{inventory}}</div>
<br>
<br> <a href="/products/deleted/{{id}}/restore">RESTORE ITEM</a>
<br> <a href="/products/deleted">DELETED PRODUCTS</a>
<br> {{> footer}}