{{#with Product}}
<form action="/products" method="post">
  <h1>Product Addition</h1>
  <div>Name needs to be a string, Price needs to be a number, and Inventory needs to be a number</div>
  <br><label> Name:
    <input type="text" name="name" id="">
  </label>

  <label> Price:
    <input type="text" name="price" id="">
  </label>

  <label> Inventory:
    <input type="text" name="inventory" id="">
  </label>
  <input type="submit" value="Submit">
</form> {{/with}} {{#with Article}}
<form action="/articles" method="post"></form>
<h1>Article Addition</h1>
<div>Title needs to be a string, Body needs to be a string, and Author needs to be a string</div>
<br><label> Title:
  <input type="text" name="title" id="">
</label>

<label> Body:
  <input type="text" name="body" id="">
</label>

<label> Author:
  <input type="text" name="author" id="">
</label>
<input type="submit" value="Submit">
</form>{{/with}}
<br> {{> footer}}